.profile__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 282px;
    height: 50px;
    margin: 36px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background: none;

    opacity: 1;
    transition: opacity .3s ease-out;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.5;
}