.profile__add-button-image {
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 827px) {
    .profile__add-button-image {
        width: 150px;
        margin: 0;
        padding: 0;
    }
}