.profile__info {
    display: grid;
    margin: 22.25px auto auto 30px;
    grid-template-columns: repeat(2, fit-content);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        'title button'
        'subtitle subtitle';
    column-gap: 10px;
    row-gap: 14px;
    align-items: flex-end;
}